---
layout: default
---
{% assign jsSrc = "grocery-list.js" | relative_url %}
<script src="{{ jsSrc }}" charset="utf-8"></script>
<script type="text/javascript">
  var recipeIngredients = {{ page.ingredients | jsonify }};

  function displayRecipeJSON(){
    addToGroceryList();

    var list = groceryList.items();

    alert(JSON.stringify(list));
  }

  function addToGroceryList(){
    groceryList.addItems("{{ page.title | slugify }}", {{ page.ingredients | jsonify }});
  }
</script>

<h1>{{ page.title }}</h1>

<button onclick="displayRecipeJSON()" type="button">+ Grocery List</button>

<h2>Ingredients</h2>
<ul>{% for ingredient in page.ingredients %}
  <li>{{ ingredient }}</li>
{% endfor %}</ul>

{% if page.instructions.size > 0 %}
<h2>Instructions</h2>
<ol>{% for instruction in page.instructions %}
  <li>{{ instruction }}</li>
{% endfor %}</ol>
{% endif %}

{% assign content_size = page.content | lstrip | rstrip | size %}
{% if content_size > 0 %}
<hr><br>

{{ page.content }}
{% endif %}
